@media print {

* {
  background-color: white;
}

  body{
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 1.5em;
  }

  nav {
    display: none;
  }

  a {
    text-decoration: none;
  }

  a[href^=http]:after {
    content: " (" attr(href) ") "; /*the url appears after!*/
  }

  header {
     margin: 0;
     text-align: center;
   }

  h2 {
     border-bottom: 1px solid black;
     margin-left: 0.5px;
   }
}
