@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

body{
  font-family:Georgia,Times,'Gloria+Hallelujah',serif;
  line-height:1.5;
}

#wrapper {
  max-width:960px;
  min-width:180px;
  margin:0 auto;
  text-align:center;
  padding:25px;
}

h1 {
  font-family:'Gloria Hallelujah';
  padding:20px;
  font-size: 50px;
  letter-spacing: 0.1em;
}

h2 {
  font-family:'Gloria Hallelujah';
  letter-spacing: 0.1em;
}

nav li{
  display:inline;
  margin:0 auto;
  padding:20px;
  margin:10px;
  text-decoration: none;
}

nav ul {
  padding-left: 0;
  list-style: none;
}


.education,.gastronome,.movie {
  width: 300px;
  float: left;
  margin: 10px;
}

.education-slidebar,.gastronome-slidebar,.movie-slidebar,.address-slidebar {
  font-family: 'Gloria Hallelujah';
  float: left;
  padding: 10px;
  margin:8px auto;
}

/* links */
a {
  color: rgb(252,157,154);
  text-decoration: none;
}

a:hover {
  color: rgb(146,210,194);
  text-decoration: none;
}

ul li{
  list-style: none;
}

li{
  list-style: none;
}

 /* nav-slidebar */
.slidebar{
  display: block;
  width:280px;
  padding:20px;
  margin:5px;
  float:left;
  background-color: rgb(252,157,154);
}

.slidebar nav ul{
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.slidebar nav .nav-list {
  margin-top: 10px;
}


.slidebar nav .nav-list li a{
  text-decoration: none;
  color: #222;
}

.slidebar nav .nav-list li a:hover{
  color:rgb(181,249,255);
)
}

.name {
  font-family: 'Gloria Hallelujah';
  width: 100px;
  font-size: 28px;
}

.site-header{
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #222;
}

.site-noline-header{
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}


main {
  display: block;
  position:relative;
  padding: 0 50px;
  max-width: 900px;
  min-width: 60px;
  margin: 5px;
  overflow: auto;
}

section {
  background-color: /* add color */
  padding:100px;
  margin-bottom: 1.5em;
}

p {
  font-size: 18px;
}

.food{
  text-align: center;
  padding: 20px;
}

.education-details {
  text-align: center;
}


address p {
  padding: 50px auto;
  margin-bottom: 1.5em;
  margin-top: 5em;
  display: inline;
}

footer {
  font-family: 'Gloria Hallelujah';
  display: inline;
  padding: 20px;
}
